* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Francois One', sans-serif;
}

.textos {
    color: linen;
}

h1,
h2,
h3,
h4,
h5 {
    color: antiquewhite;
}

body {
    background-image: url(../imagenes/imagenblancoynegro.jpg);
    background-size: cover;
}